CREATE OR REPLACE FUNCTION add_funds(amount_to_add DECIMAL) RETURNS VOID AS  BEGIN UPDATE wallets SET balance = balance + amount_to_add WHERE profile_id = auth.uid(); END;  LANGUAGE plpgsql SECURITY DEFINER;
